VITE_JOTFORM_API_KEY=YOUR_JOTFORM_API_KEY
VITE_FORM_ID_CHECKINS=FORM_ID_CHECKINS
VITE_FORM_ID_MESSAGES=FORM_ID_MESSAGES
VITE_FORM_ID_SIGHTINGS=FORM_ID_SIGHTINGS
VITE_FORM_ID_PERSONAL_NOTES=FORM_ID_PERSONAL_NOTES
VITE_FORM_ID_ANONYMOUS_TIPS=FORM_ID_ANONYMOUS_TIPS
